:root {
    --branco-principal: #000000;
    --cinza-secundario: #000000;
    --botao-azul: #010408;
    --cor-de-fundo: #000000;
}
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
    }
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
    }
    .principal {
        background-image: url("img/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
    }
    .descricao__titulo {
        font-weight: 700;
        font-size: 48px;
        color: var(--branco-principal);
        margin-bottom: 0.1em;
    }
    .container__botao {
        background-color: #5CBAE6;
        color: black;
        display: inline-block;
        margin-top: 1em;
    }
    .dispositivos__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
    }
    .lista__item {
        font-size: 32px;
        color: var(--branco-principal);
    }