:root {
    --branco-principal: #000000;
    --cinza-secundario: #000000;
    --botao-azul: #010408;
    --cor-de-fundo: #000000;
}
.conteudo {
    background-image: ;
    url("img/fundo.png");
    background-repeat: ;
    no-repeat;)
    .principal {
        background-image: url("img/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    